@using X.PagedList
@using X.PagedList.Mvc.Core
@model IPagedList<EntityLayer.Concrete.Category>


@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1>Category List</h1>

<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Kategory Adı</th>
        <th>Pacify</th>
        <th>Actify</th>
        <th>Edit</th>
    </tr>
    @foreach ( var item in Model )
    {
        <tr>
            <td> @item.Id</td>
            <td> @item.Name</td>
            <td><a href="/Admin/Category/DeleteCategory/@item.Id/" id="DeleteBtn" class=" btn btn-danger">Pasify</a></td>
            <td><a href="#" class=" btn btn-github">Actify</a></td>
            <td><a href="#" class=" btn btn-Success">Edit</a></td>
        </tr>
    }
</table>
<a href="/Admin/Category/AddCategory/" class="btn btn-primary">Add Category</a>
<br />
<br />
@Html.PagedListPager( (IPagedList) Model, page => Url.Action("Index",new {page}))
