
@{
    ViewData["Title"] = "Test";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Test</h1>
<h3>burası yeni oluşturduğum sayfadır</h3>


<table>
    <tr>
        <th>ID</th>
        <th>AD</th>
        <th>Bölüm</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Mümtaz Danacı</td>
        <td>Yazılım</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Sinan</td>
        <td>Analist</td>
    </tr>
</table>